@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 8px solid grey;
  border-right-color: pink;
  animation: spin 0.5s linear 0s infinite;
}
